<!DOCTYPE html>
<html>
<head>
    <title>Add New Invoice</title>
</head>
<body>
    <h2>Add New Invoice</h2>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.CUSTOMER_ID.id_for_label }}">Customer ID:</label>
        {{ form.CUSTOMER_ID }}
        <br>
        <label for="{{ form.medicines.id_for_label }}">Medicines:</label>
        {{ form.medicines }}
        <br>
        <label for="{{ form.TOTAL_AMOUNT.id_for_label }}">Total Amount:</label>
        {{ form.TOTAL_AMOUNT }}
        <br>
        <label for="{{ form.TOTAL_DISCOUNT.id_for_label }}">Total Discount:</label>
        {{ form.TOTAL_DISCOUNT }}
        <br>
        <button type="submit">Add Invoice</button>
    </form>
</body>
</html>
